#wrapper {
	display: flex;
}

#options{
	width: 220px;
	height: -webkit-fill-available;
	border:1px solid black;
	float:left;
}

#frame{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	background-color: #f0f8ff61;
	text-align: center;
	border: 1px solid black;
	float: right;
	margin-left: 20px;
}

#drag1 {
	background-color: blue;
}

#drag2 {
	background-color: red;
}

#drag3 {
	background-color: #d4d41e;
}

#drag4 {
	background-color: green;
}

#drag5 {
	background-color: orange;
}

#drag6 {
	background-color: gray;
}

.drag, .ui-droppable > div {
	margin: 15px;
	width:180px;
	height:70px;
	border:double 3px #000000;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
    line-height: 60px;
	color: white;
}

.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}



/* classes for dragged stuff */
.dragged1 {
	position:absolute;
	background-color: blue;
	width:180px;
	height:70px;
}

.dragged2 {
	position:absolute;
	background-color: red;
	width:180px;
	height:70px;
}

.dragged3 {
	position:absolute;
	background-color: #d4d41e;
	width:180px;
	height:70px;
}

.dragged4 {
	position:absolute;
	background-color: green;
	width:180px;
	height:70px;
}

.dragged5 {
	position:absolute;
	background-color: orange;
	width:180px;
	height:70px;
}

.dragged6 {
	position:absolute;
	background-color: gray;
	width:180px;
	height:70px;
}


#element{
	border:1px solid red
}

#builder .btn-icon {
  background: transparent;
  border: transparent;
  min-width: 0px;
  padding: 2px;
  font-size: inherit;
  box-shadow: unset;
}