#customersBoard body {
  font-family: sans-serif;
  font-size: 14;
  width: 100%;
  background-color: #E0E0E0;
}

#customersBoard menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

#customersBoard menu.kanban .viewlist,
#customersBoard menu.list .viewkanban {
  display: inline;
}

#customersBoard menu.kanban .viewkanban,
#customersBoard menu.list .viewlist {
  display: none;
}

#btnVerExecucoes {
  right: 430px;
  position: absolute;
  background-color: #ffffff;
}

#btnExecutarTudo {
  right: 242px;
  position: absolute;
  background-color: #ffb593;
}

#btnExecutar {
  right: 100px;
  position: absolute;
  background-color: #37c7ab;
}

#btnConstruir {
  right: 670px;
  position: absolute;
  background-color: #e1ef97;
}

#btnExecutarBDD {
  right: 170px;
  position: absolute;
  background-color: #37c7ab;
}

#customersBoard div.me-check {
  background: azure;
}

#customersBoard .controls .btn-group > .btn {
  color: white;
}

#customersBoard .dd {
  max-width: 100%;
  top: 20px;
  margin: 0 auto;
  display: block;
  vertical-align: top;
  margin-bottom: 100px;
  overflow-x: auto;
}

#customersBoard ol {
  transition: border-color 2s ease, all 0.1s ease;
}

#customersBoard ol.list {
  padding-top: 2em;
  padding-left: 15px;
  max-width: 650px;
  margin: 0 auto;
}

#customersBoard ol.list .text {
  float: right;
  width: 60%;
}

#customersBoard ol.list h3,
ol.list .actions,
ol.list label {
  float: left;
  width: 30%;
}

#customersBoard ol.list > li,
ol.list > h3 {
  max-width: 600px;
  margin: 0 auto;
}

#customersBoard ol.list > h2 {
  padding-bottom: 6px;
}

#customersBoard ol.list.top-bar {
  border-left: 2px solid;
}

#customersBoard H2, h1, button {
  margin-left: 5px;
  font-family: 'Arbutus Slab', serif;
}

#customersBoard h2 {
  color: #607D8B;
  display: flex;
  align-items: center;
}

#customersBoard h2 .material-icons {
  color: #B0BEC5;
  line-height: 1.5;
}

#customersBoard h2 > span {
  margin: 5px;
}

#customersBoard .dd-handle .material-icons {
  color: #B0BEC5;
  font-size: 14px;
  font-weight: 800;
  line-height: 2rem;
  position: relative;
  right: 0;
  color: #607D8B;
  padding: 5px 16px;
}

#customersBoard button>.material-icons {
  line-height: 0.2;
  position:relative;
}

#customersBoard .dd-item:hover button:hover {
  color: #00838F;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

#customersBoard button.addbutt {
  background-color: #EEEEEE;
  color: #607D8B;
  width: 100%;
}

#customersBoard .list > button.addbutt {
  max-width: 330px;
}

#customersBoard button:active, button:down, button:focus {box-shadow: 0 0 0 0, 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .12);color:#00838F;}
#customersBoard button {
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #5e737d;
  margin: 0;
  min-width: 44px;
  padding: 10px 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

#customersBoard ol.kanban.top-bar {
  border-top: 5px solid;
}

#customersBoard ol.kanban {
  width: 20%;
  height: auto;
  margin: 1%;
  width: 270px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  flex-direction: column;
  min-height: 200px;
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 1em;
  border-radius: 2px;
}

#dd-item {
  display: block;
  position: relative;
  list-style: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  min-height: 120px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

#customersBoard .title {
  align-self: flex-end;
  color: inherit;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
  transform-origin: 149px 48px;
  margin: 0;
}

#customersBoard .div-buttons {
  padding-top: 10px;
  height: 60px;
  padding-left: 10px;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 40px;
  background-image: linear-gradient(to top, #c9c9c9, #d1d1d1, #d9d9d9, #e1e1e1, #e9e9e9);
}

#customersBoard .select2-container {
  min-width: 200px;
  max-width: 250px;
}

#customersBoard .text {
  color: grey;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
  padding: 10px;
  width: 90%;
}

#customersBoard .actions {
  border-top: 1px solid rgba(0, 0, 0, .1);
  font-size: 18px;
  width: 100%;
  color: #B0BEC5;
  padding: 8px;
  box-sizing: border-box;
  text-align: right;
}

#customersBoard .btn-icon, #customgrid .btn-icon {
  background: transparent;
  border: transparent;
  min-width: 0px;
  padding: 2px;
  font-size: inherit;
  box-shadow: unset;
}

.separator-line {
  border-left: 4px solid #98a5ab;
  height: inherit;
  display: inline-flex;
  right: 625px;
  position: absolute;
  margin-top: -10px;
}

.btn-icon-circle {
  cursor: pointer;
  position: relative;
  top: 22px;
  color: #9a9a9a;
  font-size: 25px;
}

/**
 * Nestable
 */

.dd {
  position: relative;
  display: block;
  list-style: none;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-item:hover {
  background: #fff;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: move;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '<i class="material-icons">filter_none</i>';
}

.dd-item span {
  margin-left: 10px;
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #E0E0E0;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #E0E0E0;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
  cursor: move;
}

.dd-dragel .dd-item {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .5);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .5);
  cursor: move;
}