.divBtn {
    margin: 30px;
}

.divTips {
    width: 35%;
    border: 5px dashed #ffffff;
}

.divBtns {
    width: 30%;
}

.divBddLbl {
    width: 35%;
    position: fixed;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
}