#divBuilds {
    width: 80%;
}

.userDiv {
    text-align: center;
    opacity: 0.8;
    margin-top: 50px;
}

.excUserDiv {
    background-image: linear-gradient(to bottom, #ededee, #d9d9da, #c5c5c6, #b2b2b2, #9f9f9f);
    opacity: 0.8;
    padding-left: 15px;
    //padding-top: 7px;
    margin: 12px;
    height: 40px;
}

#buildsChart {
    width: 50%;
    margin-top: 60px;
}

.spanUsername {
    color: white;
}

.lblDateExec {
    width: 20%;
    font-weight: bold;
}

.lblExec {
    width: 11%;
    font-weight: bold;
}

.btnExec {
    margin-right: 8%;
}

.lblPassed {
    width: 14%;
    color: green;
    font-weight: bold;
}

.lblFailed {
    width: 14%;
    color: red;
    font-weight: bold;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background: none;
    border: none;
    text-align: left;
}

.newIssue {
    right: 50px;
    position: absolute;
}

.lblShowRows {
  left: 80%;
  margin-top: 10px;
  vertical-align: middle;
  position: relative;
  color: #fff;
}

.maxRows {
  left: 80%;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: #ffffffe3;
  color: #0a8ccc;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  border-radius: 3px;
  text-indent: 0.01px;
}

.average {
  left: 75%;
}

.pagination > li > span {
  color: #0a8ccc;
}