.bckgdDashboard {
    text-align: center;
    background-image: linear-gradient(to left, #210c37, #004677, #0082a0, #4abdb0, #baf4ba);
    border-style: solid;
    border-width: 2px;
    height: 100%;
    padding-bottom: 50px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.dashTitle {
    top: 20px;
    right: 50%;
    position: absolute;
    color: white;
}

.divDashboard {
    display: flex;
}

.divDashLeft {
    width: 10%;
    margin: 50px;
    margin-top: 100px;
}

.divDashGraphics {
    width: 65%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.divDashRight {
    width: 20%;
    margin: 50px;
}

.divPartition {
    height: 50%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.items {
    width: 100%;
}

.divDashLeft .items > div {
    width: 200px;
    height: 100px;
    display: grid;
    margin-bottom: 10px;
    max-width: 100%;
    background-color: white;
    .dashBorder
}

.items > label {
    margin-top: 10%;
    font-size: 16px;
    color: white;
}

.items > div > label {
    color: #666666;
    font-weight: normal;
    text-transform: capitalize;
}

.lblRelease {
    font-size: 16px;
    color: white;
}

.lblIndicator {
    font-size: 24px;
    margin-top: 15%;
}

.iconTherm {
    margin-top: 12%;
}

.indicator {
    width: 200px;
    height: 130px;
    margin: auto;
    max-width: 100%;
    background-color: white;
    font-size: 70px;
}

.indicatorSmall {
    width: 150px;
    height: 90px;
    margin: auto;
    max-width: 100%;
    background-color: white;
}

.graphics {
    height: 25%;
    min-height: 200px;
    max-height: 270px;
    background-color: white;
    margin-bottom: 3%;
}

.graphicSmall {
    background-color: white;
    height: 250px;
    margin-top: 15%;
    width: 100%;
}

.dashBorder {
    border: double 7px #000000;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.lblAmount {
    font-size: 30px;
    color: #666666;
}