.bckgdDefault {
    background-image: linear-gradient(to left, #210c37, #004677, #0082a0, #4abdb0, #baf4ba);
    height: auto;
    min-height: 900px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
}

.bckgdMenuDefault {
    display: flex;
    text-align: center;
    max-height: 85%;
    background-image: linear-gradient(to left, #210c37, #004677, #0082a0, #4abdb0, #baf4ba);
    border-style: solid;
    border-width: 2px;
}

.imgME {
    width: 60px;
}

#customgrid {
    background: transparent;
    width: 95%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 50px;
}

#customgrid td, #customgrid th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customgrid td {
    color: #000;
}

#customgrid tr:nth-child(even){background-color: #f2f2f2;}

#customgrid tr:nth-child(odd){background-color: #f2f2f2a3;}

#customgrid tr:hover {background-color: #ddd;}

#customgrid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#piechart {
    min-width: 310px;
    height: 400px;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 100px;
}

.btnCustomMenu {
    height:150px;
    width:250px;
    border:inset 1px #ffffff;
    -moz-border-radius: 5px;
    border-radius: 12px;
    box-shadow: 3px 1px 6px #000000;
    font-size: 15px;
    margin: 5px;
}

.bugger-icon-rounded {
 	display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
                                              /*  Insere o Gradiente no Header (Conf, Documentos, Board, Engrenagem, etc.) */
#header {
background-image: linear-gradient(to bottom, #68a0f5, #5388d0, #4171ab, #325b88, #244567);

}

#header li.search > a, #header li.chat > a, #header li.notification > a, #header li.avatar > a, #header li.application > a  {
	background-color: rgba(0, 0, 0, 0);
}

#header li.search > a:hover, #header li.chat > a:hover, #header li.notification > a:hover, #header li.avatar > a:hover, #header li.application > a:hover  {
	background-color: rgba(0, 0, 0, 0.20);
}

body.tool-bar.top div.menu-container > div.menu {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.12);
}

.panel {
	border: none;
}
                                                /*  Muda cor do menu (Conf, Documentos, Board, Engrenagem, etc.) */
body.side-bar div.menu-bar {
    background-color: #519fdb;
}
                                                /*  Os itens abaixo ajustam o tamanho largura da coluna dos campos da grid "Passos" */
th[data-column="acao"] {
    width: 400px !Important;
}

th[data-column="resultadoesperado"] {
    width: 400px !Important;
}

th[data-column="anexo"] {
    width: 70px !Important;
}
                                                /*  Sombreamento dos botões GERAIS e CÓDIGO*/
div.me-tab.top > ul.nav.nav-tabs > li > a{
    background-color: #cfcfcf;
}
                                                /*  Ajusta os ícones do Sidebar mais para baixo*/
body.side-bar div.menu-bar {
    padding-top: 191px;
    position: fixed;
    top: -2px;
    bottom: 0;
    z-index: 1000;
    left: 0;
    border-right: 1px solid #e7e7e7;
}
												/*  Mudar cor dos ícones do Sidebar lateral*/
body.side-bar div.menu-bar ul.nav > li > a {
color: #ffffffff;
}
												/*  Aumenta tamanho da fonte dos ícones da Sidebar lateral*/
body.side-bar div.menu-bar ul.nav > li > a > i {
    font-size: 20px;
}
												/* Contorno dos botões superior direito e texto*/
.btn.btn-link {
    color: #000000;
}
												/* Cor do texto "Total Resultados"*/
.total-hits {
Color: #ffffff
}
												/* Cor do botão primário*/
.btn-primary {
    color: #ffffff;
    background-color: #2e40b2;
    border-color: #097bb4;
}
												/* Cor do botão NOVO*/
.btn.btn-outline {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;

}