#gmudpiechart, #gmudbarchart {
    min-width: 310px;
    height: 400px;
    width: 47%;
    margin-top: 60px;
    margin-right: 20px;
    margin-bottom: 100px;
}

#monthlybarchart, #monthlycustbarchart {
    min-width: 310px;
    height: 500px;
    width: 35%;
    margin-right: 20px;
}

#monthlypiechart {
    min-width: 310px;
    height: 500px;
    width: 25%;
    margin-right: 20px;
}

.square-red {
    width: 12px;
    height: 12px;
    background-color: #f00;
}

.square-black {
    width: 12px;
    height: 12px;
    background-color: #000;
}

#marker label {
    margin-right: 30px;
    margin-bottom: 30px;
}

.lblEmerg {
    color: #f00;
}

.melink {
    color: #0b9de4;
    margin-left: 20px;
    font-size: 25px;
}

.btnActionTop {
    height: 50px;
    width: 10%;
    position: absolute;
    border:inset 1px #ffffff;
    -moz-border-radius: 5px;
    border-radius: 12px;
    box-shadow: 3px 1px 6px #000000;
    font-size: 15px;
    margin: 5px;
}

.btnActionTopRight {
    right: 6%;
}

.btnActionTopLeft {
    right: 18%;
}

.divYear {
    width: 20%;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.lblYear {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
}