// TIPS
.container-text-home {
    max-width: 540px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-home {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.row-home {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-8-home {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.tips-home-content {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    padding: 49px 20px;
    background: beige;
}

.tips-home-content:before {
    color: #71c55d;
    content: "";
    display: inline-block;
    font: 70px/1 FontAwesome;
    position: absolute;
    right: 43px;
    text-align: left;
    top: -29px;
}

.texto-home {
    position: relative;
    text-align: center!important;
}

.texto-home-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.texto-home-inner:after, :before {
    box-sizing: border-box;
}