.board-lego {
    display: flex;
    flex-direction: row;
    box-pack: end;
    height: 15%;
    filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.6)) drop-shadow(0 0 6px rgba(0,0,0,0.5));
}

.is-dragging {
    z-index: 999;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2),  5px 5px 10px rgba(0,0,0,0.5) !important;
}
.brick {
    color: #f63;
    background-color: currentColor;
    padding: 6px;
    min-width: 27px;
    min-height: 27px;
    box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 rgba(255,255,255,.2);
    background-image: radial-gradient(currentColor 7.5px, transparent 8.5px),
                        radial-gradient(rgba(255,255,255,.6) 7.5px, transparent 8.5px),
                      radial-gradient(rgba(0,0,0,.2) 7.5px, transparent 10.5px),
                    radial-gradient(rgba(0,0,0,.2) 7.5px, transparent 10.5px);
    background-size: 27px 27px;
    background-position: 0px 0px, -.5px -.5px, 0px 0px, 3px 3px;
    background-repeat: repeat;
}

.b-red {
    color: #e53935;
}
.b-pink {
    color: #d81b60;
}
.b-purple {
    color: #8e24aa;
}
.b-deep-purple {
    color: #5e35b1;
}
.b-indigo {
    color: #3949ab;
}
.b-blue {
    color: #1e88e5;
}
.b-light-blue {
    color: #039be5;
}
.b-cyan {
    color: #00acc1;
}
.b-teal {
    color: #00897b;
}
.b-green {
    color: #43a047;
}
.b-light-green {
    color: #7cb342;
}
.b-lime {
    color: #c0ca33;
}
.b-yellow {
    color: #fdd835;
}
.b-amber {
    color: #ffb300;
}
.b-orange {
    color: #fb8c00;
}
.b-deep-orange {
    color: #f4511e;
}
.b-brown {
    color: #6d4c41;
}
.b-grey {
    color: #757575;
}
.b-blue-grey {
    color: #546e7a;
}
.b-white {
    color: #ffffff;
}

.b-1x1 {
    width: 15px + (12 * 1);
    height: 15px + (12 * 1);
}
.b-1x2 {
    width: 15px + (12 * 1);
    height: 30px + (12 * 2);
}
.b-1x3 {
    width: 15px + (12 * 1);
    height: 45px + (12 * 3);
}
.b-1x4 {
    width: 15px + (12 * 1);
    height: 60px + (12 * 4);
}
.b-1x5 {
    width: 15px + (12 * 1);
    height: 75px + (12 * 5);
}
.b-1x6 {
    width: 15px + (12 * 1);
    height: 90px + (12 * 6);
}
.b-2x1 {
    width: 30px + (12 * 2);
    height: 15px + (12 * 1);
}
.b-2x2 {
    width: 30px + (12 * 2);
    height: 30px + (12 * 2);
}
.b-2x3 {
    width: 30px + (12 * 2);
    height: 45px + (12 * 3);
}
.b-2x4 {
    width: 30px + (12 * 2);
    height: 60px + (12 * 4);
}
.b-2x5 {
    width: 30px + (12 * 2);
    height: 75px + (12 * 5);
}
.b-2x6 {
    width: 30px + (12 * 2);
    height: 90px + (12 * 6);
}
.b-3x1 {
    width: 45px + (12 * 3);
    height: 15px + (12 * 1);
}
.b-3x2 {
    width: 45px + (12 * 3);
    height: 30px + (12 * 2);
}
.b-3x3 {
    width: 45px + (12 * 3);
    height: 45px + (12 * 3);
}
.b-3x4 {
    width: 45px + (12 * 3);
    height: 60px + (12 * 4);
}
.b-3x5 {
    width: 45px + (12 * 3);
    height: 75px + (12 * 5);
}
.b-3x6 {
    width: 45px + (12 * 3);
    height: 90px + (12 * 6);
}
.b-4x1 {
    width: 60px + (12 * 4);
    height: 15px + (12 * 1);
}
.b-4x2 {
    width: 60px + (12 * 4);
    height: 30px + (12 * 2);
}
.b-4x3 {
    width: 60px + (12 * 4);
    height: 45px + (12 * 3);
}
.b-4x4 {
    width: 60px + (12 * 4);
    height: 60px + (12 * 4);
}
.b-4x5 {
    width: 60px + (12 * 4);
    height: 75px + (12 * 5);
}
.b-4x6 {
    width: 60px + (12 * 4);
    height: 90px + (12 * 6);
}
.b-5x1 {
    width: 75px + (12 * 5);
    height: 15px + (12 * 1);
}
.b-5x2 {
    width: 75px + (12 * 5);
    height: 30px + (12 * 2);
}
.b-5x3 {
    width: 75px + (12 * 5);
    height: 45px + (12 * 3);
}
.b-5x4 {
    width: 75px + (12 * 5);
    height: 60px + (12 * 4);
}
.b-5x5 {
    width: 75px + (12 * 5);
    height: 75px + (12 * 5);
}
.b-5x6 {
    width: 75px + (12 * 5);
    height: 90px + (12 * 6);
}

/**
 * Creator Icon
 */
#blip-container {
    position: fixed;
    bottom: 40px;
    right: 80px;
    z-index: 1000000;
}

#blip-container #blip-open-iframe {
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    width: 4%;
    max-width: 120px;
    min-width: 100px;
    max-height: 120px;
    min-height: 100px;
    right: 35px;
    bottom: 35px;
    transition: transform 200ms, opacity 500ms, visibility 500ms;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 32px rgba(0, 0, 0, 0.1);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #043852b3;
}

#blip-container #blip-open-iframe img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/**
 * CSS Creator Balloon
 */
.talk-bubble {
    position: fixed;
    bottom: 140px;
    right: 80px;
    z-index: 1000000;
	margin: 40px;
    display: none;
    width: 300px;
    height: 350px;
	background-color: lightyellow;
}
.border-balloon{
  border: 8px solid #666;
}
.round-balloon{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.tri-right.border-balloon.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.7em;
}

.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}