.navDiv a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Global CSS that are applied for all screen sizes */

.navDiv ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

.navDiv li span {
	display: block;
}

.navDiv a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

/* Remove the blue Webkit background when element is tapped */

.navDiv a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch .navDiv ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.no-touch .navDiv ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

.navDiv li:nth-child(9n+1) {
	background: rgb(208, 101, 3);
}

.navDiv li:nth-child(9n+2) {
	background: rgb(233, 147, 26);
}

.navDiv li:nth-child(9n+3) {
	background: rgb(205, 218, 60);
}

.navDiv li:nth-child(9n+4) {
	background: rgb(150, 191, 76);
}

.navDiv li:nth-child(9n+5) {
	background: rgb(89, 187, 148);
}

.navDiv li:nth-child(9n+6) {
	background: rgb(22, 145, 190);
}

.navDiv li:nth-child(9n+7) {
	background: rgb(22, 107, 162);
}

.navDiv li:nth-child(9n+8) {
	background: rgb(27, 54, 71);
}

.navDiv li:nth-child(9n+9) {
	background: rgb(21, 40, 54);
}

#lblMenuOpc {
    margin-top: 100px;
    color: white;
    font-size: 26px;
    font-weight: inherit;
}

#imgLego {
    width: 180px
}

/* For screen bigger than 800px */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.navDiv li {
		float: left;
		width: 11.1111111111%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	.navDiv a {
		display: block;
		width: auto;
	}

	/* hover, focused and active effects that add a little colored border to the different items */
	.no-touch .navDiv li:nth-child(9n+1) a:hover,
	.no-touch .navDiv li:nth-child(9n+1) a:active,
	.no-touch .navDiv li:nth-child(9n+1) a:focus {
		border-bottom: 4px solid rgb(174, 78, 1);
	}

	.no-touch .navDiv li:nth-child(9n+2) a:hover,
	.no-touch .navDiv li:nth-child(9n+2) a:active,
	.no-touch .navDiv li:nth-child(9n+2) a:focus {
		border-bottom: 4px solid rgb(191, 117, 20);
	}

	.no-touch .navDiv li:nth-child(9n+3) a:hover,
	.no-touch .navDiv li:nth-child(9n+3) a:active,
	.no-touch .navDiv li:nth-child(9n+3) a:focus {
		border-bottom: 4px solid rgb(12, 110, 149);
	}

	.no-touch .navDiv li:nth-child(9n+4) a:hover,
	.no-touch .navDiv li:nth-child(9n+4) a:active,
	.no-touch .navDiv li:nth-child(9n+4) a:focus {
		border-bottom: 4px solid rgb(10, 75, 117);
	}

	.no-touch .navDiv li:nth-child(9n+5) a:hover,
	.no-touch .navDiv li:nth-child(9n+5) a:active,
	.no-touch .navDiv li:nth-child(9n+5) a:focus {
		border-bottom: 4px solid rgb(16, 34, 44);
	}

	.no-touch .navDiv li:nth-child(9n+6) a:hover,
	.no-touch .navDiv li:nth-child(9n+6) a:active,
	.no-touch .navDiv li:nth-child(9n+6) a:focus {
		border-bottom: 4px solid rgb(9, 18, 25);
	}

	.no-touch .navDiv li:nth-child(9n+7) a:hover,
    .no-touch .navDiv li:nth-child(9n+7) a:active,
    .no-touch .navDiv li:nth-child(9n+7) a:focus {
        border-bottom: 4px solid rgb(9, 18, 25);
    }

    .no-touch .navDiv li:nth-child(9n+8) a:hover,
    .no-touch .navDiv li:nth-child(9n+8) a:active,
    .no-touch .navDiv li:nth-child(9n+8) a:focus {
        border-bottom: 4px solid rgb(9, 18, 25);
    }

    .no-touch .navDiv li:nth-child(9n+9) a:hover,
    .no-touch .navDiv li:nth-child(9n+9) a:active,
    .no-touch .navDiv li:nth-child(9n+9) a:focus {
        border-bottom: 4px solid rgb(9, 18, 25);
    }


	/* Placing the icon */

	.navDiv .icon {
		padding-top: 1.4em;
	}

	.navDiv .icon + span {
		margin-top: 2.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	.navDiv a {
		height: 9em;
	}

	.no-touch .navDiv a:hover ,
	.navDiv a:active ,
	.navDiv a:focus {
		height: 10em;
	}

	/* Making the text follow the height animation */
	.no-touch .navDiv a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the icons and preparing for the animation*/
	.navDiv i {
		position: relative;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
	}

	/* Animate the box-shadow to create the effect */
	.no-touch .navDiv a:hover i,
	.no-touch .navDiv a:active i,
	.no-touch .navDiv a:focus i {
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}

}

@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lines-row {
  display: inline-flex;
  max-width: 30em;
  color: #fff;
}
.dp {
  flex-basis: 33.3%;
  position: relative;
}
.dp-arc-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;

  animation-duration: 2s;
  animation-name: rotate-clock;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}
.dp-arc-outer {
  position: absolute;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border: 6px solid transparent;
  border-bottom-color: #fff;
  border-radius: 50%;
  top: -6px;
  left: -6px;

  animation-duration: 2s;
  animation-name: rotate-anticlock;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}
@keyframes rotate-anticlock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (min-width: 50em) and (max-width: 61.250em) {

	/* Size and font adjustments to make it fit into the screen*/
	.navDiv ul {
		font-size: 1.2em;
	}

}

/* The "tablet" and "mobile" version */

@media (max-width: 49.938em) {

	/* Instead of adding a border, we transition the background color */
	.no-touch .navDiv ul li:nth-child(9n+1) a:hover,
	.no-touch .navDiv ul li:nth-child(9n+1) a:active,
	.no-touch .navDiv ul li:nth-child(9n+1) a:focus {
		background: rgb(227, 119, 20);
	}

	.no-touch .navDiv li:nth-child(9n+2) a:hover,
	.no-touch .navDiv li:nth-child(9n+2) a:active,
	.no-touch .navDiv li:nth-child(9n+2) a:focus {
		background: rgb(245, 160, 41);
	}

	.no-touch .navDiv li:nth-child(9n+3) a:hover,
	.no-touch .navDiv li:nth-child(9n+3) a:active,
	.no-touch .navDiv li:nth-child(9n+3) a:focus {
		background: rgb(44, 168, 219);
	}

	.no-touch .navDiv li:nth-child(9n+4) a:hover,
	.no-touch .navDiv li:nth-child(9n+4) a:active,
	.no-touch .navDiv li:nth-child(9n+4) a:focus {
		background: rgb(31, 120, 176);
	}

	.no-touch .navDiv li:nth-child(9n+5) a:hover,
	.no-touch .navDiv li:nth-child(9n+5) a:active,
	.no-touch .navDiv li:nth-child(9n+5) a:focus {
		background: rgb(39, 70, 90);
	}

	.no-touch .navDiv li:nth-child(9n+6) a:hover,
	.no-touch .navDiv li:nth-child(9n+6) a:active,
	.no-touch .navDiv li:nth-child(9n+6) a:focus {
		background: rgb(32, 54, 68);
	}

	.no-touch .navDiv li:nth-child(9n+7) a:hover,
    .no-touch .navDiv li:nth-child(9n+7) a:active,
    .no-touch .navDiv li:nth-child(9n+7) a:focus {
        background: rgb(32, 54, 68);
    }

    .no-touch .navDiv li:nth-child(9n+8) a:hover,
    .no-touch .navDiv li:nth-child(9n+8) a:active,
    .no-touch .navDiv li:nth-child(9n+8) a:focus {
        background: rgb(32, 54, 68);
    }

    .no-touch .navDiv li:nth-child(9n+9) a:hover,
    .no-touch .navDiv li:nth-child(9n+9) a:active,
    .no-touch .navDiv li:nth-child(9n+9) a:focus {
        background: rgb(32, 54, 68);
    }

	.navDiv ul li {
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		-o-transition: background 0.5s;
		-ms-transition: background 0.5s;
		transition: background 0.5s;
	}

}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {

	/* Creating the 2 column layout using floating elements once again */
	.navDiv li {
		display: block;
		float: left;
		width: 50%;
	}

	/* Adding some padding to make the elements look nicer*/
	.navDiv a {
		padding: 0.8em;
	}

	/* Displaying the icons on the left, and the text on the right side using inlin-block*/
	.navDiv li span,
	.navDiv li span.icon {
		display: inline-block;
	}

	.navDiv li span.icon {
		width: 50%;
	}

	.navDiv li .icon + span {
		font-size: 1em;
	}

	.navDiv .icon + span {
		position: relative;
		top: -0.2em;
	}

	/* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
	.navDiv li i {
		display: inline-block;
		padding: 8% 9%;
		border: 4px solid transparent;
		border-radius: 50%;
		font-size: 1.5em;
		background: rgba(255,255,255,0.1);
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	/* Transition effect on the border color */
	.no-touch .navDiv li:hover i,
	.no-touch .navDiv li:active i,
	.no-touch .navDiv li:focus i {
		border: 4px solid rgba(255,255,255,0.1);
	}

}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {

	.navDiv li span.icon {
		width: 50%;
	}

	.navDiv li .icon + span {
		font-size: 0.9em;
	}
}

/* Styling the toggle menu link and hiding it */
.navDiv .navtoogle{
	display: none;
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato',Calibri,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	cursor: pointer;
}

.navtoogle i{
	z-index:-1;
}

.navDiv .icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
	font-size: 1.6em;
}

.navDiv .spanTitle {
    padding-top: 30px;
    font-size: 0.9em;
}

.btnModal {
    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 70px;
    width: -webkit-fill-available;
    cursor: pointer;
}
.btnModal:hover:active:focus{
    background-color: transparent;
}


@media (max-width: 32.438em) {

	/* Unhiding the styled menu link */
	.navDiv .navtoogle{
		margin: 0;
		display: block;
	}

	/* Animating the height of the navigation when the button is clicked */

	/* When JavaScript is disabled, we hide the menu */
	.no-js .navDiv ul {
		max-height: 30em;
		overflow: hidden;
	}

	/* When JavaScript is enabled, we hide the menu */
	.js .navDiv ul {
		max-height: 0em;
		overflow: hidden;
	}

	/* Displaying the menu when the user has clicked on the button*/
	.js .navDiv .active + ul {
		max-height: 30em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}

	/* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/

	.navDiv li span {
		display: inline-block;
		height: 100%;
	}

	.navDiv a {
		padding: 0.5em;
	}

	.icon + span {
		margin-left: 1em;
		font-size: 0.8em;
	}

	/* Adding a left border of 8 px with a different color for each menu item*/
	.navDiv li:nth-child(9n+1) {
		border-left: 8px solid rgb(174, 78, 1);
	}

	.navDiv li:nth-child(9n+2) {
		border-left: 8px solid rgb(191, 117, 20);
	}

	.navDiv li:nth-child(9n+3) {
		border-left: 8px solid rgb(13, 111, 150);
	}

	.navDiv li:nth-child(9n+4) {
		border-left: 8px solid rgb(10, 75, 117);
	}

	.navDiv li:nth-child(9n+5) {
		border-left: 8px solid rgb(16, 34, 44);
	}

	.navDiv li:nth-child(9n+6) {
		border-left: 8px solid rgb(9, 18, 25);
	}

	.navDiv li:nth-child(9n+7) {
        border-left: 8px solid rgb(9, 18, 25);
    }

    .navDiv li:nth-child(9n+8) {
        border-left: 8px solid rgb(9, 18, 25);
    }

    .navDiv li:nth-child(9n+9) {
        border-left: 8px solid rgb(9, 18, 25);
    }

	/* make the nav bigger on touch screens */
	.touch .navDiv a {
		padding: 0.8em;
	}
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 18%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

@font-face {
    font-family: "Avengers";
    src: url("/@{customRootName}/resource/?name=resources/fonts/avengers.otf") format("opentype"), url("/@{customRootName}/resource/?name=resources/fonts/avengers.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}