.manageBackg {
    background-image: linear-gradient(to bottom, #9eebd3, #79e1db, #52d6e5, #31c9ef, #30baf6);
    height: -webkit-fill-available;
    border-style: solid;
    border-width: 2px;
    display: -webkit-box;
}

.big-logo-me {
    margin: 20px;
    width: 15%;
}

.small-logo-me {
    margin: 20px;
    width: 12%;
    top: 0;
    left: 0;
    position: absolute;
}

.divAllBtns {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.divBtnsInline {
    margin: 8px;
    display: inline-flex;
}

.btnManager {
    border:double 1px #000000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 4px 5px #000000;
    -webkit-box-shadow: 1px 4px 5px #000000;
    box-shadow: 1px 4px 5px #000000;
    background-color: #519fdb;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.health-label {
    margin: 25px;
    font-weight: bold;
}

#versionDiv {
    width: 20%;
    background-color: honeydew;
    padding: 20px;
    border: dashed 4px #797676;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 30px;
}