#metrics td, #metrics th {
    padding: 12px;
}

#metrics .me-grid-container .btn-group > .btn-link,
#metrics .me-grid-container .controls,
#metrics .me-grid-container .search > .btn-link {
    color: white;
}

#newMetric > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#newMetric div.col-lg-4 {
    padding-top: 20px;
    padding-left: initial;
}

#customgrid .btnLink {
    background: transparent;
    border: transparent;
    font-family: inherit;
    font-size: inherit;
    margin-left: -5px;
}

#customgrid .btnLink:hover {
    text-decoration:underline;
}

#customgrid .btnLink {
    background: transparent;
    border: transparent;
    font-family: inherit;
    font-size: inherit;
    margin-left: -5px;
}